<div class="modal-header">
    <div class="modal-title">
       FAQ
    </div>
</div>
<div class="modal-body">
    <ul class="list-group" >
        <li  class="list-group-item">
            <h5>Where are my old events?</h5> 
              They are removed from the calander once the day expires.
           </li>
        <li  class="list-group-item">
            
           <h5>How to update ?</h5> 
           Click on an event and start typing.
          </li>
          <li  class="list-group-item">
            <h5>How to delete ?</h5> 
             Click on an event and delete.
           </li>
           <li  class="list-group-item">
            <h5>Can i drag an event to another calander day ?</h5> 
                Yes, Click on an event and drag it to another calander day.
           </li>
           <li  class="list-group-item">
            <h5>Can i make copies of the same event and add the event to another calander day?</h5> 
                Yes,Drag the event while pressing the ctrl key.
           </li>
           
      
      </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" (click)="modalRef.hide()">Exit</button>
  

 
    
</div>

